--find-links https://download.pytorch.org/whl/torch_stable.html
# using python 3.9
pandas==1.3.5
torch==1.13.1+cu116  # need to check the version of cuda first
torchdata
torchtext
spacy==3.7.2
spacy-transformers
altair==4.1
jupytext
flake8
black
GPUtil
wandb
chardet
nomkl
portalocker